h1 Việc cần làm
form(action="/todos/search" method="GET")
  input(type="text", name="q") 
  button search
form(action="/todos/create" method="post")
  input(type="text", name="todo") 
  button Create
ul
  each todo in todos
    li= todo.todo